<div class="d-flex justify-content-center flex-column align-items-center p-3"
    style="max-width: 100%;border-radius: 40px;max-width: 250px;" [style.background-color]="bgColor">

    <!-- Imagen -->
    <div class="w-100 cardImageContainer">

      <img class="w-100 bg-white" [src]="data.image" style="aspect-ratio: 1;border-radius: inherit;">

    </div>

    <!-- Texto -->
    <h5 class="text-white text-center cmm-txt-thin-bold">{{data.name}}</h5>

    <span class="text-white cmm-txt-thin-bold">{{data.price}}</span>

    <span class="text-white fs-10 cmm-txt-thin-bold mt-2">{{data.aditionalInfo}}</span>

    <!-- botones -->
    <div class="row g-0 w-100 mx-auto mt-3">

      <div class="col-6 d-flex align-items-center">

        <div class="bg-white" style="width: 20px;height: 20px;border-radius: 50%;">-</div>

        <div class="bg-white px-3 py-2 rounded w-fit">
          {{productQuantity}}
        </div>

        <div class="bg-white" style="width: 20px;height: 20px;border-radius: 50%;">+</div>

      </div>

      <cmp-cmm-new-button class="cmm-txt-thin-bold fs-20 col-6">Añadir</cmp-cmm-new-button>

    </div>

</div>
