<footer class="w-100" style="background-color: #343434;">

    <div class="row flex-column flex-md-row justify-content-center mx-auto g-0 py-5" style="max-width: 1200px;">

        <!-- Todo carnes -->
        <div class="d-flex ms-5 ms-md-0 justify-content-start justify-content-md-center footer_section1">

            <div class="d-flex flex-column">

                <div class="w-100 d-flex align-items-center" style="gap: 1rem;">

                    <img id="footer_logo" class="main_logo" [src]="mainLogo" alt="">

                    <h4 class="cmm-txt-thin-bold cmm-txt-project">TODO CARNES</h4>

                </div>

                <div class="w-100 d-flex align-items-center mt-4" style="gap: 1rem;">

                    <mat-icon class="cmm-txt-project">location_on</mat-icon>

                    <span class="text-white">Av. Circumbalación del sol, calle 110 <br> con av 62 de El Cafetal,
                        Caracas</span>

                </div>

                <div class="w-100 d-flex align-items-center mt-4" style="gap: 1rem;">

                    <mat-icon class="cmm-txt-project">call</mat-icon>

                    <span class="text-white">+58 0424-5555607</span>

                </div>

                <div class="w-100 d-flex align-items-center mt-4" style="gap: 1rem;">

                    <mat-icon class="cmm-txt-project">mail</mat-icon>

                    <span class="text-white">atencion@todocarnes.com</span>

                </div>

            </div>

        </div>

        <!-- Productos -->
        <div class="d-flex justify-content-start ms-5 ms-md-0 mt-5 mt-md-0 justify-content-md-center footer_section2">

            <div class="d-flex justify-content-start flex-column">

                <div class="d-flex align-items-center" style="max-height: 100px;height: 58px;">
                    <h5 class="cmm-txt-project cmm-txt-thin-bold">PRODUCTOS</h5>
                </div>

                <span class="text-white">• Carnes</span>
                <span class="text-white">• Aves</span>
                <span class="text-white">• Pescados</span>
                <span class="text-white">• Embutidos</span>
                <span class="text-white">• Otros</span>

            </div>

        </div>

        <!-- Acerca de nosotros -->
        <div class="d-flex justify-content-start ms-5 ms-md-0 mt-5 mt-md-0 justify-content-md-center footer_section3">

            <div class="d-flex justify-content-start flex-column">

                <div class="d-flex align-items-center" style="max-height: 100px;height: 58px;">
                    <h5 class="cmm-txt-project cmm-txt-thin-bold">ACERCA DE NOSOTROS</h5>
                </div>

                <span class="text-white">Quienes somos</span>
                <span class="text-white">Ventas al mayor</span>
                <span class="text-white">Recetas</span>
                <span class="text-white">Ofertas</span>

            </div>


        </div>

    </div>


</footer>