<section class="w-100 d-flex align-items-center justify-content-center home_bg_image" style="height: 600px;"
  [style.background-image]="'url(' + homeImages.main +')'">

  <h2 class="text-white cmm-txt-thin-bold px-3">CERDO, POLLO, TERNERA... <br> A TU COCINA LLEVAMOS LAS PROTEÍNAS <br>
    CON
    LA CALIDAD QUE
    PREFIERAS.</h2>

</section>

<!-- Algunos productos -->
<section class="popular_products d-flex align-items-center w-100 p-3"
  style="padding-top: 6rem !important;padding-bottom: 6rem !important;">

  <cmp-cmm-new-carousel class="w-100" [customButtons]="true" carouselId="uno">

    <!-- Elementos del carrusel en tamaño pequeño -->
    <ng-container container>

      <div *ngFor="let item of popularProducts, index as i" class="carousel_item">

        <div class="w-100 h-100 p-0 d-flex justify-content-center align-items-center" style="gap: 2rem;">

          <cmp-core-product-card [data]="item"></cmp-core-product-card>

        </div>

      </div>

    </ng-container>

    <button class="rounded" style="background-color: #947676;height: 60px;width: 40px;" prevButton>
      <mat-icon class="text-white cursor-pointer">navigate_before</mat-icon>
    </button>

    <button class="carousel-control-next" type="button" class="rounded"
      style="background-color: #947676;height: 60px;width: 40px;" nextButton>
      <mat-icon class="text-white cursor-pointer">navigate_next</mat-icon>
    </button>

  </cmp-cmm-new-carousel>

</section>

<!-- Horario de entregas -->
<section class="w-100 row mx-auto" style="max-height: 600px;background-color: #FBFCFE;">

  <div class="col-12 col-md-5 d-flex flex-column justify-content-start align-items-center px-5 pt-5">

    <h3 class="cmm-txt-thin-bold">HORARIO DE ENTREGAS</h3>

    <p class="cmm-txt-thin-bold mt-5">ENCUENTRA AQUÍ TODA LA INFORMACIÓN ACERCA DE NUESTROS HORARIOS PARA DELIVERY Y
      PICK
      UP</p>

    <cmp-cmm-new-button class="mt-4">VER HORARIOS</cmp-cmm-new-button>

  </div>

  <!-- Imagen publicitaria -->
  <div class="d-none col-12 col-md-7 d-md-flex align-items-start justify-content-center p-0">

    <img [src]="homeImages.bandejita" class="w-100">

  </div>

</section>

<!-- Carrusel inferior -->
<section class="w-100 row mx-auto bg-white py-5 justify-content-center align-items-center">

  <h3 class="cmm-txt-thin-bold text-center mb-5">ENCUENTRA PRODUCTOS ESENCIALES PARA TU PARRILLA</h3>

  <!-- Componente de carrusel -->
  <cmp-cmm-new-carousel [customButtons]="true" carouselId="dos">

    <!-- Elementos del carrusel en tamaño pequeño -->
    <ng-container container>

      <div *ngFor="let item of popularProducts, index as i" class="carousel_item">

        <div class="w-100 h-100 p-0 d-flex justify-content-center align-items-center" style="gap: 2rem;">

          <cmp-core-product-card [data]="item"
            [config]="{bgColor: 'linear-gradient(90deg, #290302, #5B0506)'}"></cmp-core-product-card>

        </div>

      </div>

    </ng-container>

    <button class="rounded" style="background: linear-gradient(90deg, #290302, #5B0506);height: 60px;width: 40px;"
      prevButton>
      <mat-icon class="text-white cursor-pointer">navigate_before</mat-icon>
    </button>

    <button class="carousel-control-next" type="button" class="rounded"
      style="background: linear-gradient(90deg, #290302, #5B0506);height: 60px;width: 40px;" nextButton>
      <mat-icon class="text-white cursor-pointer">navigate_next</mat-icon>
    </button>

  </cmp-cmm-new-carousel>

</section>

<!-- Imagen -->
<div class="w-100 home_bg_image" style="height: 200px;"
  [style.background-image]="'url(' + homeImages.longParallax +')'">
</div>