<section>

    <!-- Componente de detalle del producto -->
    <cmp-products-detail class="col-12"></cmp-products-detail>

    <!-- También podría interesarte -->
    <section class="col-12 my-5">

        <div class="d-flex align-items-center justify-content-center mb-5">

            <div class="line cmm-bg-project-secundary"></div>

            <h3 class="cmm-txt-project-secundary cmm-txt-thin-bold text-center mx-2 decorated_title">No te
                pierdas estas
                ofertas</h3>

            <div class="line cmm-bg-project-secundary"></div>

        </div>

        <!-- Carrusel -->
        <cmp-cmm-new-carousel [customButtons]="true" carouselId="tres">

            <!-- Elementos del carrusel en tamaño pequeño -->
            <ng-container container>

                <div *ngFor="let item of popularProducts, index as i" class="carousel_item">

                    <div class="w-100 h-100 p-0 d-flex justify-content-center align-items-center" style="gap: 2rem;">

                        <cmp-core-product-card [data]="item"
                            [config]="{bgColor: 'linear-gradient(90deg, #290302, #5B0506)'}"></cmp-core-product-card>

                    </div>

                </div>

            </ng-container>

            <button class="rounded"
                style="background: linear-gradient(90deg, #290302, #5B0506);height: 60px;width: 40px;" prevButton>
                <mat-icon class="text-white cursor-pointer">navigate_before</mat-icon>
            </button>

            <button class="carousel-control-next" type="button" class="rounded"
                style="background: linear-gradient(90deg, #290302, #5B0506);height: 60px;width: 40px;" nextButton>
                <mat-icon class="text-white cursor-pointer">navigate_next</mat-icon>
            </button>

        </cmp-cmm-new-carousel>

    </section>

</section>