<section>

    <!-- Componente de detalle del producto -->
    <cmp-products-detail class="col-12"></cmp-products-detail>

    <!-- También podría interesarte -->
    <section class="col-12 my-5">

        <div class="d-flex align-items-center justify-content-center mb-5">

            <div class="line cmm-bg-project-secondary"></div>

            <h3 class="cmm-txt-project-primary-secondary cmm-txt-thin-bold text-center mx-2 decorated_title">No te
                pierdas estas
                ofertas</h3>

            <div class="line cmm-bg-project-secondary"></div>

        </div>

        <cmp-cmm-new-carousel>

            <!-- Elementos del carrusel en tamaño pequeño -->
            <ng-container container>

                <div *ngFor="let item of popularProductsSmallScreen, index as i" class="carousel_item">

                    <div class="w-100 h-100 p-0 d-flex justify-content-center align-items-center" style="gap: 2rem;">

                        <cmp-core-product-card [data]="item"
                            [config]="{bgColor: 'linear-gradient(90deg, #290302, #5B0506)'}"></cmp-core-product-card>

                    </div>

                </div>

            </ng-container>

        </cmp-cmm-new-carousel>

    </section>

</section>