<div class="row mx-auto w-100">

  <div class="col-12">

    <div class="row">

      <div *ngFor="let filter of filters"
        class="col-md-2 border-bottom cursor-pointer d-flex justify-content-center filter">

        <span class="text-center cmm-txt-thin-bold">{{filter.text}}</span>

      </div>

    </div>

  </div>

  <section class="col-12 mt-5">

    <h3 class="text-center cmm-txt-thin-bold cmm-txt-project-secundary">LO MEJOR EN CORTES DE POLLO</h3>
    <p class="text-center cmm-txt-thin-bold cmm-txt-project-secundary">Productos frescos todos los días</p>

    <!-- productos -->
    <div class="row g-0 w-100 justify-content-center mt-5">

      <div *ngFor="let product of products" class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-5">

        <cmp-core-product-card [data]="product"
          [config]="{bgColor: '#DFDDDE', textColor: 'black'}"></cmp-core-product-card>

      </div>

      <!-- Paginador -->
      <cmp-cmm-paginator [posts]="products"></cmp-cmm-paginator>

    </div>

  </section>

  <!-- También podría interesarte -->
  <section class="col-12 my-5">

    <div class="d-flex align-items-center justify-content-center mb-5">

      <div class="line cmm-bg-project-secundary"></div>

      <h3 class="cmm-txt-project-secundary cmm-txt-thin-bold text-center mx-2 decorated_title">También podría
        interesarte</h3>

      <div class="line cmm-bg-project-secundary"></div>

    </div>

    <!-- Componente de carrusel -->
    <cmp-cmm-carousel carouselId="hola" [customButtons]="true">

      <!-- Elementos del carrusel en tamaño grande -->
      <ng-container *ngIf="!popularProductsSmallScreen.length" carousel>

        <!-- Items del carrusel -->
        <div *ngFor="let productSection of popularProducts, index as i" class="carousel-item h-100 w-100"
          [ngClass]="{'active': i == 0}">

          <div class="w-100 h-100 p-0 d-flex justify-content-center align-items-center" style="gap: 2rem;">

            <cmp-core-product-card *ngFor="let item of productSection" [data]="item"
              [config]="{bgColor: 'linear-gradient(90deg, #290302, #5B0506)'}"></cmp-core-product-card>

          </div>

        </div>

      </ng-container>

      <!-- Elementos del carrusel en tamaño pequeño -->
      <ng-container *ngIf="popularProductsSmallScreen.length" carousel>

        <div *ngFor="let item of popularProductsSmallScreen, index as i" class="carousel-item h-100 w-100"
          [ngClass]="{'active': i == 0}">

          <div class="w-100 h-100 p-0 d-flex justify-content-center align-items-center" style="gap: 2rem;">

            <cmp-core-product-card [data]="item"
              [config]="{bgColor: 'linear-gradient(90deg, #290302, #5B0506)'}"></cmp-core-product-card>

          </div>

        </div>

      </ng-container>

      <!-- Botones personalizados -->

      <button class="rounded" style="background-color: #947676;height: 80px;width: 60px;" prev>
        <mat-icon class="text-white">arrow_back_ios</mat-icon>
      </button>

      <button class="carousel-control-next" type="button" class="rounded"
        style="background-color: #947676;height: 80px;width: 60px;" next>
        <mat-icon class="text-white">arrow_forward_ios</mat-icon>
      </button>

    </cmp-cmm-carousel>

  </section>

</div>

<!-- características del negocio con íconos -->
<div class="w-100 row mx-auto py-4" style="background-color: #E7E7E7;">

  <div *ngFor="let item of items" class="col-sm-3 d-flex flex-column align-items-center justify-content-center">

    <img class="w-100" [src]="item.icon" style="max-width: 100px;">

    <span class="text-center cmm-txt-thin-bold" style="max-width: 150px;">{{item.info}}</span>

  </div>

</div>