<div class="container-fluid g-0 overflow-x-hidden d-flex flex-column justify-content-between"
    style="overflow-y: scroll;min-height: 100vh;">

    <main class="row w-100 g-0 align-items-start">

        <!-- Espacio para el navbar -->
        <cmp-main-header id="header" class="w-100 position-fixed"></cmp-main-header>

        <!-- Contenido principal -->
        <div class="mx-auto" style="max-width: 1200px;margin-top: 103px;">

            <router-outlet></router-outlet>

        </div>

    </main>

    <!-- Footer -->
    <cmp-main-footer></cmp-main-footer>

</div>